<mat-card class="wrapper" cdkDrag [cdkDragData]="card">
  {{ card.text }}

  <div class="like">
    <button mat-icon-button>
      <mat-icon [ngClass]="{clicked: card.isLiked}" (click)="updateRating()">thumb_up_alt</mat-icon>
    </button>
    {{ card.isLiked ? 1 : 0 }}
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>

  <h3>Comments ({{ comments.length }})</h3>
  <div class="comments">
    <app-comment
      class="comments"
      *ngFor="let comment of comments"
      [comment]="comment"
    >
    </app-comment>
    <button mat-button color="primary" (click)="openDialog()">
      Add comment
    </button>
  </div>
</mat-card>
