<mat-list role="list" class="board">
  <h2><span [matBadge]="cards.length" matBadgeOverlap="false">{{ boardText }}</span></h2>
  <div class="task-container"
       cdkDropList
       [cdkDropListData]="cards"
       (cdkDropListDropped)="drop($event)"
  >
    <app-card
      class="card-wrapper"
      *ngFor="let card of cards"
      [cardId]="card.id"
    ></app-card>
  </div>

  <button mat-raised-button color="warn" (click)="openDialog()">
    Add Card
  </button>
</mat-list>
