<div class="container" cdkDropListGroup>
  <app-board
    *ngFor="let board of boards"
    [boardId]="board.id"
    [boardText]="board.text"
  ></app-board>

  <div class="add">
    <button mat-stroked-button (click)="openDialog()">
      Add board
    </button>
  </div>
</div>
