<div mat-dialog-content>
  <p>Please, fill form</p>
  <mat-form-field>
    <mat-label>Enter text</mat-label>
    <input matInput [(ngModel)]="data.text" />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.text" cdkFocusInitial>Ok</button>
</div>
